*.dart linguist-detectable=true

# Exclude C++
 *.cpp linguist-detectable=false
 *.c++ linguist-detectable=false
 *.cc linguist-detectable=false
 *.cp linguist-detectable=false
 *.cppm linguist-detectable=false
 *.cxx linguist-detectable=false
 *.h linguist-detectable=false
 *.h++ linguist-detectable=false
 *.hh linguist-detectable=false
 *.hpp linguist-detectable=false
 *.hxx linguist-detectable=false
 *.inc linguist-detectable=false
 *.inl linguist-detectable=false
 *.ino linguist-detectable=false
 *.ipp linguist-detectable=false
 *.ixx linguist-detectable=false
 *.re linguist-detectable=false
 *.tcc linguist-detectable=false
 *.tpp linguist-detectable=false

# Exclude CMake
*.cmake linguist-detectable=false
*.cmake.in linguist-detectable=false